body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0}
body{font:13px verdana,geneva,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;color:#464646}
table{font-size:inherit;font:100%}
select,input,textarea{font:99% arial,helvetica,clean,sans-serif}
pre,code{font:115% monospace;*font-size:100%}
body *{line-height:1.22em}
body{text-align:left}
#ft{clear:both}
#doc,#doc2,#doc3,.col-275-r,.fullPage{margin:5px 0 0 10px;width:680px}
#doc2{width:980px}
#doc3{margin:auto 10px;width:auto}
#docWide{margin:auto 10px;width:auto}
.yui-b{position:relative}
.yui-b{_position:static}
#yui-main .yui-b{position:static}
#yui-main{width:100%}
.col-240-l #yui-main{float:right;margin-left:-325px}
.col-200-l #yui-main{float:right;margin-left:-285px}
.col-210-l #yui-main{float:right;margin-left:-295px}
.col-200-r #yui-main{float:left;margin-right:-285px}
.col-275-r #yui-main{float:left;margin-right:-325px}
.col-275-r .yui-b{float:right;width:275px}
.col-275-r #yui-main .yui-b{margin-right:253px}
.col-325-r #yui-main{float:left;margin-right:-375px}
.col-325-r .yui-b{float:right;width:325px}
.col-325-r #yui-main .yui-b{margin-right:303px}
.col-300-r #yui-main{float:left;margin-right:-350px}
.col-300-r .yui-b{float:right;width:300px}
.col-300-r #yui-main .yui-b{margin-right:310px}
.col-300-r{margin:5px 0 0 15px;width:680px}
.fullPage #yui-main .yui-b{display:block;margin:0 0 1em 0}
.col-240-l .yui-b{float:left;width:240px}
.col-240-l #yui-main .yui-b{margin-left:253px}
.col-200-l .yui-b{float:left;width:200px}
.col-210-l .yui-b{float:left;width:210px}
.col-200-l #yui-main .yui-b{margin-left:213px}
.col-210-l #yui-main .yui-b{margin-left:220px}
.col-200-r .yui-b{float:right;width:200px}
.col-200-r #yui-main .yui-b{margin-right:213px}
#yui-main .yui-b{float:none;width:auto}
.yui-g .yui-u,.yui-g .yui-g,.yui-gc .yui-u,.yui-gc .yui-g .yui-u,.yui-ge .yui-u,.yui-gf .yui-u{float:right;display:inline}
.yui-g div.first,.yui-gc div.first,.yui-gc div.first div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first{float:left}
.yui-g .yui-u,.yui-g .yui-g{width:49.1%}
.yui-g .yui-g .yui-u,.yui-gc .yui-g .yui-u{width:48.1%}
.yui-gb .yui-u,.yui-gc .yui-u,.yui-gd .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:32%}
.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0}
.yui-gc div.first,.yui-gd .yui-u{width:66%}
.yui-gd div.first{width:32%}
.yui-ge .yui-u{width:24%}
.yui-ge div.first,.yui-gf .yui-u{width:74.2%}
.yui-gf div.first{width:24%}
.yui-ge div.first{width:74.2%}
#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1}
#docWide{width:980px}
.hdWide{width:980px}
.hdNarrow{width:685px;line-height:1.22em;padding:0;margin:0}
.headerLinks{font-size:10px;margin:2px 0 0 0;overflow:hidden;padding:0}
#headerLinksShort{width:505px}
#headerLinksMedium{width:540px;margin-top:8px}
#headerLinksShare{width:795px;margin-top:14px}
#headerLinksLong{margin-top:8px;width:840px}
#headerUserLinks{float:right;padding:0;margin:0;line-height:1.22em}
.globalHeader{float:left;position:relative;line-height:1.22em;padding:0;font-size:13px;margin:5px 0 0 0;z-index:100}
#globalHeader_full{height:55px}
#globalHeader_limited{height:45px}
#globalHeader_share{height:63px}
.globalHeader a{text-decoration:none!important;font-weight:normal!important;line-height:1.22em}
.globalHeader a:hover{text-decoration:underline!important;font-weight:normal!important}
#menuBar{margin:7px 0 0 0;width:505px;float:left;display:inline;padding:0;line-height:1.22em}
#menuBar br{line-height:1.22em}
.currentPageLink{color:#428bca}
#cpy{font-family:"Avenir LT W01 55 Roman",verdana,arial,sans-serif;color:#a3a3a3;text-align:center;font-size:10px!important}
div .pageTitle{width:680px;_width:700px;float:left;padding:0 0 10px 20px}
h2 span.pageTitlePrimary{font-size:18px;color:#9c3;font-family:Arial,Helvetica,sans-serif}
h2 span.pageTitleSecondary{font-size:18px;color:#999;font-family:Arial,Helvetica,sans-serif}
a{color:#369}
a:active{color:#428bca}
div .liveChatLink{float:left;width:150px}
div .liveChatLink a{font-size:10pt;color:#333}
.roundmodule{background:transparent url(/img_/SFLY/modules/mod_bot-v1174523821000877.jpg) no-repeat scroll left bottom;clear:both;color:#333;margin-bottom:10px;overflow:hidden}
.roundmodule .titlebar{color:#FFF;font-family:Verdana,Arial,sans-serif;font-size:11px;height:28px;line-height:28px;margin:0;padding-right:10px}
.roundmodule .titlebar h2{color:#FFF;float:left;font-family:Verdana,Arial,sans-serif;font-size:13px;font-weight:bold;line-height:28px;margin:0;padding:0 2px 0 15px}
.roundmodule .aspirational{background:transparent url(/img_/SFLY/modules/mod_top_asp-v1178649890000988.jpg) repeat scroll right center}
.roundmodule .aspirational h2{background:url(/img_/SFLY/modules/mod_top_asp-v1178649890000988.jpg) repeat scroll left center}
.roundmodule .transactional{background:transparent url(/img_/SFLY/modules/mod_top_trans-v1178649867000973.jpg) repeat scroll right center}
.roundmodule .transactional h2{background:url(/img_/SFLY/modules/mod_top_trans-v1178649867000973.jpg) repeat scroll left center}
.roundmodule .functional{background:transparent url(/img_/SFLY/modules/mod_top_func-v1178649809000917.jpg) repeat scroll right center}
.roundmodule .functional h2{background:url(/img_/SFLY/modules/mod_top_func-v1178649809000917.jpg) repeat scroll left center}
.roundmodule .holiday{background:transparent url(/img_/SFLY/modules/mod_top_holiday-v12198774220001166.jpg) repeat scroll right center}
.roundmodule .holiday h2{background:url(/img_/SFLY/modules/mod_top_holiday-v12198774220001166.jpg) repeat scroll left center}
.roundmodule .holiday_bow{background:transparent url(/img_/SFLY/modules/mod_top_holiday_bow-v12203991730002047.jpg) repeat scroll right center}
.roundmodule .holiday_bow h2{background:url(/img_/SFLY/modules/mod_top_holiday_bow-v12203991730002047.jpg) repeat scroll left center}
.roundmodule .head span{color:#FFF;float:right;font-family:Verdana,Arial,sans-serif;font-size:11px;line-height:28px;padding:0}
.roundmodule .rmbody{border-color:#eee;border-style:solid solid none;border-width:0 2px 0 2px;clear:both;padding:0 5px 0 5px}
.roundmodule .rmbody ul li{position:relative}
.roundmodule .rmfoot{background:transparent url(/img_/SFLY/modules/mod_bot-v1174523821000877.jpg) no-repeat scroll right bottom;clear:both;font-size:0;height:7px;margin-left:10px}
.roundmodule .outline{background:transparent url(/img_/SFLY/modules/mod_top_line-v11785868320001139.jpg) no-repeat scroll right center}
.roundmodule .outline h2{background:url(/img_/SFLY/modules/mod_top_line-v11785868320001139.jpg) no-repeat scroll left center}
.roundmodule .outline-titlebar{color:#FFF;font-family:Verdana,Arial,sans-serif;font-size:2px;height:7px;line-height:7px;margin:0;padding-right:10px}
.roundmodule .outline-titlebar h2{color:#FFF;float:left;font-family:Verdana,Arial,sans-serif;font-size:13px;font-weight:bold;line-height:7px;margin:0;padding:0 2px 0 15px}
#mail_error_msg{color:#f00;font-family:"Avenir LT W01 65 Medium",Verdana,Arial,sans-serif;font-size:12px}
#sflyButtonContainer{overflow:auto;padding:3px;width:auto;text-decoration:none;margin:0 0 0 -3px;*margin:0 0 0 -3px}
#continueLink{text-decoration:none;clear:left;margin-top:20px}
#continueLink a{text-decoration:none}
#continueLink a:active{text-decoration:none;clear:left;margin-top:20px}
#sflyButtonContainer #continueLink{display:block;overflow:auto;text-decoration:none;float:left;cursor:pointer}
#sflyButtonContainer a.primary{display:block;overflow:visible;margin-bottom:20px;cursor:pointer;text-decoration:none}
#sflyButtonContainer a.primary span.left{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:0 -2px;background-repeat:no-repeat;width:15px;height:24px;display:block;float:left}
#sflyButtonContainer a.primary span.content{float:left;line-height:20px!important;*line-height:1.6;height:24px;background:url('/img_/misc/btn_sprite_all-v13289004230003136.gif') repeat-x -2px -54px;color:#fff;font-weight:bold!important}
#sflyButtonContainer a.primary span.right{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:-40px -2px;background-repeat:no-repeat;width:18px;height:24px;display:block;float:left}
#sflyButtonContainer a.primary:hover span.left{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-repeat:no-repeat;background-position:-18px -2px}
#sflyButtonContainer a.primary:hover span.content{background:url('/img_/misc/btn_sprite_all-v13289004230003136.gif') repeat-x -2px -80px}
#sflyButtonContainer a.primary:hover span.right{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-repeat:no-repeat;background-position:-61px -2px}
#sflyButtonContainer a.secondary{cursor:pointer;text-decoration:none}
#sflyButtonContainer a.secondary span.left{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:-2px -28px;background-repeat:no-repeat;width:15px;height:24px;display:block;float:left}
#sflyButtonContainer a.secondary span.content{float:left;line-height:1.75!important;*line-height:1.75!important;height:24px;background:url('/img_/misc/btn_sprite_all-v13289004230003136.gif') repeat-x -2px -106px;color:#fff;font-weight:bold}
#sflyButtonContainer a.secondary span.right{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:-41px -28px;background-repeat:no-repeat;width:18px;height:24px;display:block;float:left}
#sflyButtonContainer a.secondary:hover span.left{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:-20px -28px;background-repeat:no-repeat}
#sflyButtonContainer a.secondary:hover span.content{background:url('/img_/misc/btn_sprite_all-v13289004230003136.gif') repeat -2px -132px}
#sflyButtonContainer a.secondary:hover span.right{background-image:url('/img_/misc/btn_sprite_all-v13289004230003136.gif');background-position:-62px -28px;background-repeat:no-repeat}
#continueLink{float:left;clear:both}
#storeBreadcrumb{margin-bottom:15px;font:12px "Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#939598}
#storeBreadcrumb a{color:#369;text-decoration:none}
#storeBreadcrumb h1{display:inline}
#storeBreadcrumb a:hover{text-decoration:underline}
.outerContainerBorder{border-width:1px;border-style:solid;border-color:#ccccae}
.imperativeOuterContainer{float:left;margin-right:10px}
.imperativeOuterContainer_noMarg{float:left}
.imperativeInnerContainer{width:215px}
.imperativeInnerContainer_noMarg{width:214px}
.headingBg_store{background:transparent url(/img_/store/subhead_gradient-v123817451900018541.jpg) repeat;height:31px}
.imperativeHeading{color:#606249;font-family:Verdana,Arial,sans-serif;font-size:16px;font-weight:normal;padding:0 5px 0 10px;position:relative;top:5px;text-decoration:none}
.promotionText{color:#333;font-family:Verdana,Arial,sans-serif;font-size:13px;font-weight:bold;line-height:1.2;padding:15px 5px 15px 10px}
.summary{color:#666;font-family:Verdana,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.2;padding:0 5px 0 10px}
.imperativeHotLinks{text-decoration:none;color:#666;font-weight:normal;font-size:13px}
.imperativeButton{padding:16px 5px 20px 10px}
a.subscribeButton{background:transparent url("/img_/membership/btn_subscribe-v1227550095000878.gif") no-repeat;width:81px;height:25px}
.control_radio{vertical-align:middle;line-height:20px}
.control_label{vertical-align:middle;line-height:20px}
.headline1{font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#606249}
.headline2{font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#606249}
.headline3{font-family:Arial,Helvetica,sans-serif;font-size:16px;color:#606249}
.headline4{font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#606249}
.headline5{font-weight:normal;font-family:"Avenir LT W01 85 Heavy",verdana,arial,sans-serif;font-size:13px;color:#606249}
.bodytext{font-family:Verdana,Arial,sans-serif;font-size:12px;color:#666}
.titletext{font-size:12px;font-weight:normal;font-family:"Avenir LT W01 85 Heavy",verdana,arial,sans-serif;color:#666}
.pagetitletext{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;font-weight:normal;font-size:18px;color:#58595b}
.pagesubtitletext{font-family:Arial,Helvetica,sans-serif;font-size:18px;color:#999}
a.link{color:#369;text-decoration:none}
a.link:hover,a.link:active,a.link2:hover,a.link2:active{text-decoration:underline}
a.link2{color:#666}
.mod_primary_header_container{background:#f9f9f2 url(/img_/store/subhead_gradient-v123817451900018541.jpg) repeat-x scroll left top}
.mod_primary_title{font-family:Verdana,Arial,sans-serif;font-size:12px;color:#666;font-weight:bold}
.mod_primary_body{font-family:Verdana,Arial,sans-serif;font-size:12px;color:#666}
.mod_secondary_title{font-family:Verdana,Arial,sans-serif;font-size:12px;color:#666;font-weight:bold}
.mod_secondary_body{font-family:Verdana,Arial,sans-serif;font-size:12px;color:#666}
.mod_tertiary_title{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666;font-weight:bold}
.mod_tertiary_body{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666}
.mod_focus_title{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666;font-weight:bold}
.mod_focus_body{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666}
.mod_unfocus_title{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666;font-weight:bold}
.mod_unfocus_body{font-family:Verdana,Arial,sans-serif;font-size:11px;color:#666}
.promo_message{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#c11111}
.pricetable{font-family:Verdana,Arial,sans-serif;font-size:13px;color:#666;text-align:left;width:180px}
.priceline{font-family:Verdana,Arial,sans-serif;font-size:13px;color:#666;text-align:left}
.pricetable .title{font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;color:#428bca;padding-bottom:16px}
.pricetable .heading{font-family:Verdana,Arial,sans-serif;font-size:11px;font-weight:bold;color:#333}
.pricetable .body,.pricetable .pricetablebody{font-family:Verdana,Arial,sans-serif;font-size:10px;color:#666;font-weight:normal}
.pricetable a:link{text-decoration:none}
.pricetable .sale{color:#c11111}
.pricetable .orig{text-decoration:line-through}
.pricetable .heading_pcent{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;color:#c11111}
.pricetable .heading_bogo{font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;color:#c11111}
.pricetable .duration{font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;color:#666}
.pricetable .right{text-align:right;vertical-align:top}
.pricetable .left{vertical-align:top}
.pricetable .row{height:18px}
.pricetable .spacer{font-size:2px;height:10px}
.pricetable .smallspacer{font-size:2px;height:5px}
.priceline .sale{color:#c11111}
.priceline .orig{text-decoration:line-through}
div.sflyBtnContainer{width:auto;display:inline-block}
div.sflyBtnContainer a{display:block;cursor:pointer;text-decoration:none;color:#fff}
div.sflyBtnContainer a span{float:left;font-size:12px;font-family:Arial,Helvetica,sans-serif;font-weight:bold}
div.sflyBtnContainer a span{background-repeat:no-repeat;height:24px;font-weight:bold}
div.sflyBtnContainer a span.left,div.sflyBtnContainer a span.right{width:15px;background-image:url("/img_/misc/btn_sprite_all-v12996951430006934.png")}
div.sflyBtnContainer a.primary span.left{background-position:0 -2px}
div.sflyBtnContainer a.primary span.right{background-position:-50px -2px}
div.sflyBtnContainer a span.content{line-height:21px}
div.sflyBtnContainer a span.content{background:url("/img_/misc/btn_center_stacked_all-v1299695170000380.png") repeat-x;font-family:Arial;font-size:12px}
div.sflyBtnContainer a.primary span.content{background-position:0 -2px}
div.sflyBtnContainer a.primary:hover span.left{background-position:-18px -2px}
div.sflyBtnContainer a.primary:hover span.right{background-position:-70px -2px}
div.sflyBtnContainer a.primary:hover span.content{background-position:0 -82px}
div.sflyBtnContainer a.secondary span.left{background-position:0 -28px}
div.sflyBtnContainer a.secondary span.right{background-position:-50px -28px}
div.sflyBtnContainer a.secondary span.content{background-position:0 -28px}
div.sflyBtnContainer a.secondary:hover span.left{background-position:-18px -28px}
div.sflyBtnContainer a.secondary:hover span.right{background-position:-70px -28px}
div.sflyBtnContainer a.secondary:hover span.content{background-position:0 -108px}
div.sflyBtnContainer a.tertiary span.left{background-position:0 -54px}
div.sflyBtnContainer a.tertiary span.right{background-position:-50px -54px}
div.sflyBtnContainer a.tertiary span.content{background-position:0 -54px;color:#000}
div.sflyBtnContainer a.tertiary:hover span.left{background-position:-18px -54px}
div.sflyBtnContainer a.tertiary:hover span.right{background-position:-70px -54px}
div.sflyBtnContainer a.tertiary:hover span.content{background-position:0 -134px}
#siteOverlay{z-index:1000;width:430px;height:45px;opacity:.8;-moz-opacity:.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);background-color:#1c1c1c;position:fixed;margin-left:-10px}
#timeMachineStatusContainer{color:#fff;margin-top:10px;margin-left:10px;margin-right:10px}
#timeMachineStatus{float:left;margin-right:30px}
#timeMachineLinks a{float:left;margin-right:40px}
.moduleTitle{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;font-size:24px;color:#428bca}
.moduleText{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px;color:#181512}
.moduleSubText{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:10px;color:#181512}
a.moduleSubTextLink{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:10px;color:#369;text-decoration:none}
a.ctaButton{display:inline-block;background:#428bca;height:28px;color:#fff;text-decoration:none;font-size:11pt;font:13px/2.05em "Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;padding:0 10px;outline:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
#returnToMobileSite{padding:20px;text-align:center;margin:auto}
#returnToMobileSite a{text-decoration:none;color:#369;font-size:26px;font-family:"Avenir LT W01 55 Roman";font-weight:100}
.social-network-btns{float:right}
#socialNetworkButtons{position:relative;z-index:999}
#fb-share{width:80px;margin-right:5px}
#google-plus #___plusone_0,#___plusone_0 iframe{width:70px!important}
#google-plus{*width:70px!important;*overflow:hidden!important}
.trackingIFRAME{display:none}
.logo-sprite,#xbrands .logo-shutterfly,#xbrands .logo-wpd,#xbrands .logo-treat,#xbrands .logo-tinyprints,#xbrands .logo-thislife,#xbrands .logo-borrowlenses{background:url(/i/ui/sitenav/logo-sd097843e4c-v139214245800010181.png) no-repeat}
#xbrand-header{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#f6f6f6));background:-webkit-linear-gradient(top,#fff,#f6f6f6);background:-moz-linear-gradient(top,#fff,#f6f6f6);background:-o-linear-gradient(top,#fff,#f6f6f6);background:-ms-linear-gradient(top,#fff,#f6f6f6);background:linear-gradient(top,#fff,#f6f6f6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f6f6f6));min-width:1000px;height:36px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #ddd}
#xbrand-header .flyOutContent{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px}
#xbrands-wrapper{width:667px;height:36px;margin:auto}
.xBrand-narrow #xbrands-wrapper{width:680px}
#xbrands{list-style:none;height:36px}
#xbrands li{float:left;height:36px;position:relative}
#xbrands li a{display:block;width:100%;height:100%}
#xbrands li .triangleBorder,#xbrands li .triangle{width:0;height:0;opacity:1;filter:alpha(opacity=100);background:0;position:absolute;font-size:0;border-style:solid;border-width:0 10px 10px}
#xbrands li .triangleBorder{background:0;opacity:1;filter:alpha(opacity=100);position:absolute;top:-4px;left:50%;margin-left:-10px;_top:-6px;border-color:transparent transparent #a6a8ab}
#xbrands li .triangle{top:-2px;left:50%;margin-left:-10px;_top:-4px;border-color:transparent transparent #fff}
#xbrands li .flyOutContainer{position:absolute;z-index:55!important;left:50%;margin-left:-90px;top:95%;width:180px;display:none}
#xbrands li .flyOutContent{width:auto;background-color:#fff;z-index:55!important;box-shadow:0 0 4px rgba(51,51,51,0.5);margin-top:5px;border:1px solid #a6a8ab;opacity:1;filter:alpha(opacity=100);text-align:left!important;padding:5px}
#xbrands li:hover .flyOutContainer{display:block}
#xbrands .logo-treat{width:81px;height:36px;background-position:17px -175px}
#xbrands .logo-borrowlenses .flyOutContainer{width:135px;margin-left:-67px}
#xbrands .logo-shutterfly{position:relative;width:112px;background-position:17px -60px}
#xbrands .logo-shutterfly .logo-notch{position:absolute;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;bottom:-4px;left:50%;margin-left:-4px;display:inline-block;width:8px;height:8px;border-left:1px solid #ddd;border-top:1px solid #ddd;-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);background:#fff}
.ie8 #xbrands .logo-shutterfly .logo-notch{bottom:-3px;-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"}
#xbrands .logo-treat{width:81px;height:36px;background-position:17px -173px}
#xbrands .logo-wpd{width:134px;background-position:17px -137px}
#xbrands .logo-tinyprints{width:120px;background-position:17px -99px}
#xbrands .logo-thislife{width:93px;background-position:17px -23px}
#xbrands .logo-borrowlenses{width:120px;background-position:17px 13px!important}
#hdSearchContainer #srchContainer.staticPosition{position:static!important}
.hidden{display:none}
#limitedftr{margin-top:20px!important;margin-bottom:10px!important;font-size:10px!important;clear:both}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
.footer ul{list-style-type:none}
.footer ul li{line-height:1.22em}
.navContainer{width:558px}
.footerNav{width:150px;margin:30px 30px 0 0;height:140px}
.footer-left-section,.footer-right-section{float:left;-moz-box-sizing:border-box;box-sizing:border-box;.text-align:left}
.footer-left-section{width:420px;padding:50px 0 30px 40px}
.footer{background-color:#fbfbfb;border-top:1px solid #c6c7c9;margin:40px 0 0 0;-moz-box-sizing:border-box;box-sizing:border-box}
.footer .footerHeading,.footer a,.footer a:link,.footer a:visited,.reviewHeading{font-size:13px;color:#181512}
.footer a:hover{color:#428bca;text-decoration:none}
.footer .footerHeading,.reviewHeading{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif}
.reviewHeading{margin-bottom:40px}
.footer .footerNav .footerHeading{margin-bottom:3px}
.footer form .footerHeading{margin-bottom:14px}
.footer form{margin-bottom:100px}
.footer .footerNav li{margin-bottom:2px}
.footer a{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;text-decoration:none}
.footer .footer-content{margin:auto;width:980px}
.wideFooterNav{width:168px}
.footer .socialnwsection{margin-bottom:50px;height:23px}
.footer .socialnwsection a{background:url("/i/landingpages/img_social_icons-v13908469740004562.png") 0 -2px no-repeat;width:23px;height:23px;display:inline-block;margin-right:10px}
.footer .socialnwsection .pinterestBtn{background-position:-31px -2px}
.footer .socialnwsection .twitterBtn{background-position:-65px -2px}
.footer .socialnwsection .gPlusBtn{background-position:-95px -2px}
.footer .socialnwsection .gPlusBtn{background-position:-95px -2px}
.footer .socialnwsection .sflyblog{background-position:-127px -2px}
.footer #copyright{margin-top:20px;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px}
.footer form input{height:22px;line-height:15px;width:235px;font-family:"Avenir LT W01 55 Roman",verdana,arial,sans-serif;font-size:12px;padding:3px;border:1px solid #c6c7c9;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
#gtky_button{height:22px;margin-left:-1px;padding:2px 7px;vertical-align:top;font-size:12px;line-height:16px;border-radius:0;box-shadow:none}
.footer form .subscribe-fields{font-size:0}
.footer form input::-webkit-input-placeholder{color:#999}
.footer form input:-moz-placeholder{color:#999}
.footer form input::-moz-placeholder{color:#999}
.footer form input:-ms-input-placeholder{color:#999}
.footer2{width:980px;margin:0 auto;border-top:1px solid #c6c7c9;border-bottom:1px solid #c6c7c9;margin-top:15px}
.footer2 .title{width:980px;margin:6px auto 0 auto;text-align:left;font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;font-size:11px;color:#181512}
.footer2 .contentcontainer{margin:10px 0 20px 0}
.footer2 .logos{margin:0 auto;width:980px}
.footer2 .logos li{display:inline}
#footerxbrands .logo-shutterfly a{padding-left:10px}
#footerxbrands .logo-tinyprints a{margin-left:40px}
#footerxbrands .logo-wpd a{margin-left:45px}
#footerxbrands .logo-treat a{margin-left:50px}
#footerxbrands .logo-thislife a{margin-left:50px}
#footerxbrands .logo-mypublisher a{margin-left:52px}
#footerxbrands .logo-borrowlenses a{margin-left:55px}
#debugData{background-color:#EE8;margin-top:15px;font-size:11px;padding:10px}
.fleft{float:left}
.btn-primary,.btn-secondary,.btn-tertiary,.btn-quaternary,a.primaryButton,a.secondaryButton,a.tertiaryButton,a.quaternaryButton{display:inline-block;padding:0 10px;font-weight:normal;font-family:"Avenir LT W01 85 Heavy",verdana,arial,sans-serif;font-size:13px;text-align:center;vertical-align:middle;cursor:pointer;outline:0;line-height:24px;text-decoration:none;box-shadow:1px 1px 4px #CCC;border-radius:3px}
.btn-primary:hover,.btn-secondary:hover,.btn-tertiary:hover,.btn-quaternary:hover,a.primaryButton:hover,a.secondaryButton:hover,a.tertiaryButton:hover,a.quaternaryButton:hover{text-decoration:none;background-image:none}
.btn-primary.disabled:hover,.btn-secondary.disabled:hover,.btn-tertiary.disabled:hover,.btn-quaternary.disabled:hover,a.primaryButton.disabled:hover,a.secondaryButton.disabled:hover,a.tertiaryButton.disabled:hover,a.quaternaryButton.disabled:hover{box-shadow:none}
.btn-primary.disabled,.btn-secondary.disabled,.btn-tertiary.disabled,.btn-quaternary.disabled,a.primaryButton.disabled,a.secondaryButton.disabled,a.tertiaryButton.disabled,a.quaternaryButton.disabled{background-image:none;opacity:.5}
.btn-primary,a.primaryButton{border:0;text-shadow:-1px -1px #428bca;color:white;background-color:#428bca;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#428bca),color-stop(100%,#428bca));background-image:-webkit-linear-gradient(top,#428bca,#428bca);background-image:-moz-linear-gradient(top,#428bca,#428bca);background-image:-o-linear-gradient(top,#428bca,#428bca);background-image:-ms-linear-gradient(top,#428bca,#428bca);background-image:linear-gradient(top,#428bca,#428bca)}
.btn-primary:hover,a.primaryButton:hover{color:white;background-color:#428bca}
.btn-primary:visited,.btn-primary:active,a.primaryButton:visited,a.primaryButton:active{color:white}
.btn-primary.disabled:hover,a.primaryButton.disabled:hover{background-color:#428bca}
.btn-secondary,a.secondaryButton{border:0;text-shadow:-1px -1px #369;color:white;background-color:#69c;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#69c),color-stop(100%,#5681ab));background-image:-webkit-linear-gradient(top,#69c,#5681ab);background-image:-moz-linear-gradient(top,#69c,#5681ab);background-image:-o-linear-gradient(top,#69c,#5681ab);background-image:-ms-linear-gradient(top,#69c,#5681ab);background-image:linear-gradient(top,#69c,#5681ab)}
.btn-secondary:hover,a.secondaryButton:hover{color:white;background-color:#517ca5}
.btn-secondary:visited,.btn-secondary:active,a.secondaryButton:visited,a.secondaryButton:active{color:white}
.btn-secondary.disabled:hover,a.secondaryButton.disabled:hover{background-color:#69c}
.btn-tertiary,a.tertiaryButton{border:1px solid #c7c2bc;text-shadow:1px 1px white;color:#428bca;background-color:white;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e0dbd7));background-image:-webkit-linear-gradient(top,#fff,#e0dbd7);background-image:-moz-linear-gradient(top,#fff,#e0dbd7);background-image:-o-linear-gradient(top,#fff,#e0dbd7);background-image:-ms-linear-gradient(top,#fff,#e0dbd7);background-image:linear-gradient(top,#fff,#e0dbd7)}
.btn-tertiary:hover,a.tertiaryButton:hover{color:#428bca;background-color:#e0dbd7}
.btn-tertiary:visited,.btn-tertiary:active,a.tertiaryButton:visited,a.tertiaryButton:active{color:#428bca}
.btn-tertiary.disabled:hover,a.tertiaryButton.disabled:hover{background-color:white}
.btn-quaternary,a.quaternaryButton{border:1px solid #c7c2bc;text-shadow:1px 1px white;color:#5681ab;background-color:white;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e0dbd7));background-image:-webkit-linear-gradient(top,#fff,#e0dbd7);background-image:-moz-linear-gradient(top,#fff,#e0dbd7);background-image:-o-linear-gradient(top,#fff,#e0dbd7);background-image:-ms-linear-gradient(top,#fff,#e0dbd7);background-image:linear-gradient(top,#fff,#e0dbd7)}
.btn-quaternary:hover,a.quaternaryButton:hover{color:#5681ab;background-color:#e0dbd7}
.btn-quaternary:visited,.btn-quaternary:active,a.quaternaryButton:visited,a.quaternaryButton:active{color:#5681ab}
.btn-quaternary.disabled:hover,a.quaternaryButton.disabled:hover{background-color:white}
.pr206_table_outer{border:1px solid #c6c7c9;width:206px;height:135px}
.pr206_table_inner{width:186px;height:115px}
.pr206_table_inner_td_main{text-align:center}
.pr206_main_text{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#428bca;font-size:18px}
.pr206_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512;font-size:12px;text-align:center;position:relative;top:5px}
.pr206_table_inner_td_line3{text-align:right;height:10px}
#pr206_main_shopnow{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;color:#181512;font-size:10px;position:relative;letter-spacing:.031em;top:3px}
#pr206_main_shopnow a{text-decoration:none;color:#181512}
.pr225_table_outer{border:1px solid #c6c7c9;width:225px;height:135px}
.pr225_table_inner{width:205px;height:115px}
.pr300_table_outer{border:1px solid #c6c7c9;width:300px;height:135px}
.pr300_table_inner{width:280px;height:115px}
.pr484_table_outer{width:484px;height:280px}
.pr484_table_inner{width:424px;height:234px}
.pr484_main_text{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;color:#428bca;font-size:29px}
.pr484_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512;font-size:15px;position:relative;top:5px;line-height:20px}
.pr484_85_heavy{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#181512;font-size:15px;position:relative;top:5px;line-height:20px}
.pr485_table_outer{border:1px solid #c6c7c9;width:485px;margin-right:5px;*margin-right:2px;height:100px}
.pr485_table_inner{width:465px;height:80px}
.pr507_table_outer{background-image:url('/i/landingpages/1083216_sitewide_pop_507x233_bkgrnd-v137574084400011768.gif');width:507px;height:233px}
.pr507_table_inner{width:487px;height:213px}
.pr507_table_inner_td_main{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#58595b;font-size:12px}
#pr507_main_text{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#428bca;font-size:18px}
#pr507_text{margin-top:10px}
#pr507_lto{margin-top:19px}
#pr507_shop_now{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;color:#428bca;font-size:10px;margin-top:10px}
#pr507_shop_now a{text-decoration:none;color:#428bca}
#pr507_tc{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#58595b;font-size:9px}
.pr486x240_table{width:484px;height:240px;display:table-cell;vertical-align:middle;text-align:center}
.pr486x240_align{display:inline-block;text-align:left}
.pr486x240_line_bold{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;font-size:13px;bottom:9px}
.pr486x240_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:13px}
.pr486x240_disclaimer{position:relative;top:50px}
{color:white;background-color:#428bca}
.btn-primary:visited,.btn-primary:active,a.primaryButton:visited,a.primaryButton:active{color:white}
.btn-primary.disabled:hover,a.primaryButton.disabled:hover{background-color:#428bca}
.btn-secondary,a.secondaryButton{border:0;text-shadow:-1px -1px #369;color:white;background-color:#69c;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#69c),color-stop(100%,#5681ab));background-image:-webkit-linear-gradient(top,#69c,#5681ab);background-image:-moz-linear-gradient(top,#69c,#5681ab);background-image:-o-linear-gradient(top,#69c,#5681ab);background-image:-ms-linear-gradient(top,#69c,#5681ab);background-image:linear-gradient(top,#69c,#5681ab)}
.btn-secondary:hover,a.secondaryButton:hover{color:white;background-color:#517ca5}
.btn-secondary:visited,.btn-secondary:active,a.secondaryButton:visited,a.secondaryButton:active{color:white}
.btn-secondary.disabled:hover,a.secondaryButton.disabled:hover{background-color:#69c}
.btn-tertiary,a.tertiaryButton{border:1px solid #c7c2bc;text-shadow:1px 1px white;color:#428bca;background-color:white;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e0dbd7));background-image:-webkit-linear-gradient(top,#fff,#e0dbd7);background-image:-moz-linear-gradient(top,#fff,#e0dbd7);background-image:-o-linear-gradient(top,#fff,#e0dbd7);background-image:-ms-linear-gradient(top,#fff,#e0dbd7);background-image:linear-gradient(top,#fff,#e0dbd7)}
.btn-tertiary:hover,a.tertiaryButton:hover{color:#428bca;background-color:#e0dbd7}
.btn-tertiary:visited,.btn-tertiary:active,a.tertiaryButton:visited,a.tertiaryButton:active{color:#428bca}
.btn-tertiary.disabled:hover,a.tertiaryButton.disabled:hover{background-color:white}
.btn-quaternary,a.quaternaryButton{border:1px solid #c7c2bc;text-shadow:1px 1px white;color:#5681ab;background-color:white;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e0dbd7));background-image:-webkit-linear-gradient(top,#fff,#e0dbd7);background-image:-moz-linear-gradient(top,#fff,#e0dbd7);background-image:-o-linear-gradient(top,#fff,#e0dbd7);background-image:-ms-linear-gradient(top,#fff,#e0dbd7);background-image:linear-gradient(top,#fff,#e0dbd7)}
.btn-quaternary:hover,a.quaternaryButton:hover{color:#5681ab;background-color:#e0dbd7}
.btn-quaternary:visited,.btn-quaternary:active,a.quaternaryButton:visited,a.quaternaryButton:active{color:#5681ab}
.btn-quaternary.disabled:hover,a.quaternaryButton.disabled:hover{background-color:white}
.pr206_table_outer{border:1px solid #c6c7c9;width:206px;height:135px}
.pr206_table_inner{width:186px;height:115px}
.pr206_table_inner_td_main{text-align:center}
.pr206_main_text{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#428bca;font-size:18px}
.pr206_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512;font-size:12px;text-align:center;position:relative;top:5px}
.pr206_table_inner_td_line3{text-align:right;height:10px}
#pr206_main_shopnow{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;color:#181512;font-size:10px;position:relative;letter-spacing:.031em;top:3px}
#pr206_main_shopnow a{text-decoration:none;color:#181512}
.pr225_table_outer{border:1px solid #c6c7c9;width:225px;height:135px}
.pr225_table_inner{width:205px;height:115px}
.pr300_table_outer{border:1px solid #c6c7c9;width:300px;height:135px}
.pr300_table_inner{width:280px;height:115px}
.pr484_table_outer{width:484px;height:280px}
.pr484_table_inner{width:424px;height:234px}
.pr484_main_text{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;color:#428bca;font-size:29px}
.pr484_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512;font-size:15px;position:relative;top:5px;line-height:20px}
.pr484_85_heavy{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#181512;font-size:15px;position:relative;top:5px;line-height:20px}
.pr485_table_outer{border:1px solid #c6c7c9;width:485px;margin-right:5px;*margin-right:2px;height:100px}
.pr485_table_inner{width:465px;height:80px}
.pr507_table_outer{background-image:url('/i/landingpages/1083216_sitewide_pop_507x233_bkgrnd-v137574084400011768.gif');width:507px;height:233px}
.pr507_table_inner{width:487px;height:213px}
.pr507_table_inner_td_main{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#58595b;font-size:12px}
#pr507_main_text{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#428bca;font-size:18px}
#pr507_text{margin-top:10px}
#pr507_lto{margin-top:19px}
#pr507_shop_now{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;color:#428bca;font-size:10px;margin-top:10px}
#pr507_shop_now a{text-decoration:none;color:#428bca}
#pr507_tc{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#58595b;font-size:9px}
.pr486x240_table{width:484px;height:240px;display:table-cell;vertical-align:middle;text-align:center}
.pr486x240_align{display:inline-block;text-align:left}
.pr486x240_line_bold{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;font-size:13px;bottom:9px}
.pr486x240_line_two{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:13px}
.pr486x240_disclaimer{position:relative;top:50px}
.dod_980x135{width:980px;height:135px;display:table-cell;vertical-align:middle;text-align:center;background-image:url(/i/landingpages/1121259_dotd_grid_980x135_bkgrnd-v140296141600020210.gif)}
.dod_980x135_font_main{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#428bca;font-size:39px;line-height:39px;margin-bottom:7px}
.dod_980x135_font_code{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;color:#181512;font-size:18px;line-height:18px;margin-bottom:11px}
.dod_980x135_font_cta{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#181512;font-size:13px;line-height:13px}
.dod_321x282{width:321px;height:282px;display:table-cell;vertical-align:middle;text-align:center;background-image:url(/i/landingpages/1121259_dotd_grid_321x282_bkgrnd-v140302263800011322.gif)}
.dod_321x282_font_main{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#428bca;font-size:36px;line-height:36px;margin-bottom:7px}
.dod_321x282_font_code{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;color:#181512;font-size:18px;line-height:18px;margin-bottom:11px}
.dod_321x282_font_cta{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#181512;font-size:13px;line-height:13px}
.dod_670x135{width:670px;height:135px;display:table-cell;vertical-align:middle;text-align:center;background-image:url(/i/landingpages/1121259_dotd_grid_670x135_bkgrnd-v140302567700015366.gif)}
.dod_670x135_font_main{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#428bca;font-size:29px;line-height:29px;margin-bottom:7px}
.dod_670x135_font_code{font-family:"Avenir LT W01 35 Light",Verdana,Arial,sans-serif;color:#181512;font-size:15px;line-height:15px;margin-bottom:15px}
.dod_670x135_font_cta{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;color:#181512;font-size:12px;line-height:12px}
.hd_320x320{width:320px;height:320px;display:table-cell;vertical-align:middle;text-align:center;background-color:#f1f1f1}
.hd_320x320_font_main{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;color:#428bca;font-size:20px;line-height:20px;margin-bottom:2px}
.hd_320x320_font_cta{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512;font-size:13px;line-height:13px}
.hd_320x320_font_cta a{text-decoration:none;color:#181512}
.ui-autocomplete{z-index:1000!important}
.ui-autocomplete .ui-menu-item,.ui-autocomplete .ui-menu-item a{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:12px}
.ui-autocomplete .ui-autocomplete-divider{border-top:1px solid #aaa}
.ui-autocomplete .ui-autocomplete-divider,.ui-autocomplete .ui-autocomplete-first-divider{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;font-size:12px;background-color:#fbfbfb;padding:10px 5px;color:#939598}
.ui-menu-item-recommended{padding-top:4px;display:block;clear:both}
.ui-menu-item-recommended .thumbPic{float:left;width:64px;height:64px;margin:0 10px 4px 4px}
.ui-menu-item-recommended .thumbImg{display:block;margin:0 auto;max-width:64px;max-height:64px}
.ui-menu-item-recommended .thumbInfo{max-width:275px;min-height:64px;margin-bottom:10px}
.ui-menu-item-recommended .thumbTitle{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;margin-bottom:5px}
.ui-autocomplete-search.ui-widget-content{background:#fff}
.ui-autocomplete-search .ui-menu-item .ui-state-hover,.ui-autocomplete-search .ui-menu-item .ui-state-focus{border:1px solid #999;margin:-1px;background:#dadada;color:#212121}
.dynamicTileDetails{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:12px;float:left;width:140px;margin-left:2px}
.dynamicTileTitle{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;float:left}
.dynamicTileDescription{float:left}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#xbrands li{background-position:17px 10px!important;background-repeat:no-repeat;height:36px}
#xbrands .logo-shutterfly{background-image:url(/i/ui/sitenav/logo-shutterfly@2x-v13802751270005931.png)!important;-webkit-background-size:77px 19px!important;-moz-background-size:77px 19px!important;background-size:77px 19px!important}
#xbrands .logo-tinyprints{background-image:url(/i/ui/sitenav/logo-tinyprints@2x-v13802751180005212.png)!important;-webkit-background-size:87px 17px!important;-moz-background-size:87px 17px!important;background-size:87px 17px!important}
#xbrands .logo-treat{background-image:url(/i/ui/sitenav/logo-treat@2x-v13802751100002744.png)!important;-webkit-background-size:46px 12px!important;-moz-background-size:46px 12px!important;background-size:46px 12px!important}
#xbrands .logo-wpd{background-image:url(/i/ui/sitenav/logo-wpd-new@2x-v13806180390002559.png)!important;-webkit-background-size:101px 19px!important;-moz-background-size:101px 19px!important;background-size:101px 19px!important}
#xbrands .logo-thislife{background-image:url(/i/ui/sitenav/logo-thislife@2x-v13802750800005867.png)!important;-webkit-background-size:59px 19px!important;-moz-background-size:59px 19px!important;background-size:59px 19px!important}
#xbrands .logo-borrowlenses{background-image:url(/i/ui/sitenav/logo-borrowlenses@2x-v13921435840006996.png)!important;-webkit-background-size:90px 10px!important;-moz-background-size:90px 10px!important;background-size:90px 10px!important}
}
.menu_srch_narrow{top:58px!important;left:510px!important;width:168px!important}
#main-nav{margin:0;padding:0;line-height:1.22em;height:31px}
#hdSubNavMenu{height:25px;color:#494a37;padding:0}
.hdSubNavWide{width:845px}
#hdSubNavMenu span{font-size:11px;margin:8px 0 0 1px;padding:0 10px 0 10px;display:block;float:left}
#hdSubNavMenu a,#hdSubNavMenu DIV.du-l{text-decoration:none;font-size:11px;margin:8px 0 0 0;padding:0 18px 0 14px;color:#494a37;display:block;float:left;height:13px}
#hdSubNavMenu a:hover{color:#428bca}
#subNavigationContainer{width:800px;height:25px;margin:5px 0 0 195px;font-size:11px!important}
#docWide #subNavigationContainer{margin-left:190px}
ul.subNavigation{float:left;list-style-type:none;height:25px;margin:0;padding:0}
ul.subNavigation li.categoryItem{float:left;position:relative;margin:5px 20px 0 0;text-align:center;line-height:1}
ul.subNavigation li.categoryItem.last{border-right:1px solid #494a37;padding-right:30px;margin-right:0;margin-top:5px}
ul.subNavigation li.categoryItem a.categoryItemLink{text-decoration:none;color:#494a37;font-size:11px}
ul#saleNavigation{width:110px;*margin:0!important;*padding:0!important}
#headerWrapper{margin:0 0 0 15px;line-height:1.22em;padding:0;font-size:13px}
#headerWrapper.hdNarrow_full{height:85px}
a.navMySflyTab{width:122px;background-position:0 0}
a.navMySflyTab:hover{background-position:0 -31px}
a.navMySflyTabActive{width:122px;background-position:0 -62px}
a.navMyPicsTab{width:114px;background-position:-122px 0}
a.navMyPicsTab:hover{background-position:-122px -31px}
a.navMyPicsTabActive{width:114px;background-position:-122px -62px}
a.navShareTab{width:80px;background-position:-236px 0}
a.navShareTab:hover{background-position:-236px -31px}
a.navShareTabActive{background-position:-236px -62px;width:80px}
a.navInspirationTab{width:113px;background-position:-316px 0}
a.navInspirationTab:hover{background-position:-316px -31px}
a.navInspirationTabActive{background-position:-316px -62px;width:113px}
a.navStoreTab{width:76px;background-position:-429px 0}
a.navStoreTab:hover{background-position:-429px -31px}
a.navStoreTabActive{background-position:-429px -62px;width:76px}
DIV.du-l{position:relative;padding:0!important}
DIV.du-l A{margin-top:0!important}
DIV.du-lf{display:none;position:absolute;top:0;bottom:0;left:0;right:0;white-space:nowrap}
DIV.du-lf{_width:100%;_height:100%}
DIV.du-lf EMBED{position:absolute;top:0;left:0;height:100%;width:100%}
#hdSubNavMenu A.du-hover{color:#428bca!important}
DIV.colCtr DIV.du-l{float:left;clear:both}
DIV.du-debug A{background-color:cyan}
DIV.du-debug DIV.du-lf OBJECT,DIV.du-debug DIV.du-lf EMBED{border:1px dashed red}
ul.subNavigation{position:relative;z-index:50}
ul.subNavigation li.categoryItem{margin:0;padding:5px 9px 0 9px}
ul.subNavigation li.categoryItem.last{margin-top:0}
#categoryItemLink_1{background:url(/img_/store/arrow-orange-v1235774402000276.gif) 97% 80% no-repeat;padding-left:4px;padding-right:15px}
#headerWrapper{margin-left:0}
.siteHeader{height:49px;vertical-align:bottom}
#headerNavContainer{border-bottom:1px solid #7e8083;margin-left:24px;padding-top:27px}
#headerLogo>a>img,#headerLogo>img{position:relative;z-index:10}
.headerNavContainer_limited,.headerNavContainer_full,.headerNavContainer_share{float:left;width:815px}
.narrowHeader #headerNavContainer{width:505px}
.headerLogo_limited,.headerLogo_full,.headerLogo_share{float:left}
#siteHeader_limited_flow{position:relative}
.headerLogo_limited_flow{position:absolute;top:0;left:0;width:141px}
.flowHeader #siteHeader_limited_flow #headerNavContainer{position:absolute;min-width:375px;left:141px;top:0;right:0;padding-top:24px}
.narrowHeader #siteHeader_full #headerNavContainer{padding-top:0}
.headerNavContainer_full #globalMenuBar{float:left;padding-top:2px}
#hdUserLinks{float:right;color:#d2d3d5;padding-bottom:2px;font-family:"Avenir LT W01 55 Roman",verdana,arial,sans-serif;font-size:13px}
#hdUserLinks a,#narrowFullHdUserLinks a,.highlightedLink{text-decoration:none!important;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px}
#narrowFullHdUserLinks a{vertical-align:middle}
#hdUserLinks a:link,#hdUserLinks a:visited,#narrowFullHdUserLinks a:link,#narrowFullHdUserLinks a:visited{color:#58595b}
#hdUserLinks a:hover,#hdUserLinks a:active,#narrowFullHdUserLinks a:hover,#narrowFullHdUserLinks a:active,.highlightedLink,span.welcomeUserMsg{color:#428bca}
.welcomeUserMsg{font-family:'Avenir LT W01 85 Heavy',Verdana,Arial,sans-serif;font-size:11px;display:block;white-space:nowrap;overflow:hidden;width:150px;height:17px;float:left;text-overflow:ellipsis;text-align:right;padding:2px 4px 0 0}
#hdSearchContainer{float:right}
#narrowFullHdUserLinks{text-align:right;margin:6px 0;color:#d2d3d5}
.siteHeader ul li,.siteSubNavContainer ul li{list-style-type:none}
.wideHeader{width:980px;*width:998px;margin:0 10px}
.narrowHeader{width:680px;*width:699px;margin:0 10px}
.shareHeader{margin:0 10px}
ul#globalNavList{margin-left:0}
#globalNavList li{float:left!important;*white-space:nowrap;margin-right:18px;height:19px;*width:35px}
#globalNavList #storeTabContainer{margin-right:5px}
#globalNavList li#mySflyTabContainer{*width:88px}
#globalNavList li#myPicturesTabContainer{*width:73px}
#globalNavList li#inspirationTabContainer{*width:81px}
#globalNavList li a{text-decoration:none!important;font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif;font-size:11px;display:block;width:100%;height:100%}
#globalNavList li a:link,#globalNavList li a:visited{color:#58595b}
#globalNavList li a:hover,#globalNavList li a:active{color:#428bca}
#globalNavList li a.active{color:#428bca!important}
#globalNavList ul{overflow:auto}
.clear{clear:both}
ul{padding:0;margin:0}
#srchContainer.flyout{margin-left:7px;position:relative;padding-left:1px;*z-index:1}
#srchContainer.searchInline{position:relative;z-index:1}
#srch.searchInline{z-index:9;position:absolute;top:26px;*top:28px;right:0;width:200px;text-align:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#srchTooltip{display:none;position:absolute;right:-50%;z-index:40!important;top:144%;*top:136%!important;*padding-top:2px}
#srchContainer:hover #srchTooltip,#srchContainer.active #srchTooltip{display:block}
#searchIcon{background:url(/i/ui/sitenav/search_icon-v1345573285000226.png) 0 1px no-repeat;width:13px;height:13px}
#srchContainer .triangleBorder{width:0;height:0;border-style:solid;border-width:0 10px 10px;border-color:transparent transparent #a6a8ab transparent;background:0;opacity:1;filter:alpha(opacity=100);position:absolute;top:-5px;font-size:0;right:5px;_top:-10px}
#srchContainer .triangle{width:0;height:0;border-style:solid;border-width:0 10px 10px;border-color:transparent transparent #fff transparent;opacity:1;filter:alpha(opacity=100);background:0;position:absolute;top:-3px;right:5px;_top:-8px;font-size:0}
#srchContainer .flyOutContent{padding-top:10px;*padding-bottom:5px;margin-top:5px;border:1px solid #a6a8ab;opacity:1;filter:alpha(opacity=100)!important;background-color:#fff;width:162px;height:30px;box-shadow:0 2px 4px rgba(51,51,51,0.5)}
a.srch_go{text-shadow:0 -1px 0 #fff;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#e0dbd7));background-image:-webkit-linear-gradient(#fff,#e0dbd7);background-image:-moz-linear-gradient(#fff,#e0dbd7);background-image:-o-linear-gradient(#fff,#e0dbd7);background-image:-ms-linear-gradient(#fff,#e0dbd7);background-image:linear-gradient(#fff,#e0dbd7);display:inline-block;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-weight:normal;font-size:11px;text-decoration:none;padding:1px 5px 0;border-radius:5px;border:1px solid #a5a09d;vertical-align:top;cursor:pointer;margin:1px 0 0 -1px;*margin-top:5px;line-height:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a.srch_go_enabled{color:#428bca!important}
a.srch_go_disabled{color:#ccc!important}
#srchContainer.flyout a.srch_go{margin:0}
#srchContainer.flyout .srchTxtField{width:100px;margin:0 10px}
#srchContainer .srchTxtField{font-family:"Avenir LT W01 45 Book",Verdana,Arial,sans-serif;font-size:11px;height:17px;margin-top:1px;*margin-top:4px;padding:1px;width:80px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #a5a09d}
input::-webkit-input-placeholder{color:#58595b}
input:-ms-input-placeholder{color:#58595b}
input:-moz-placeholder{color:#58595b}
.subNavWrapper li{list-style-type:none}
#siteSubNavContainer{margin-left:165px;height:25px;margin-bottom:8px;font-size:11px;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif}
#siteSubNavContainer a{font-size:11px}
.hdSubNavNarrow{width:505px}
.siteSubNav li.catItem{float:left}
.catItem,.siteInspirationItem{padding:2px 9px 0}
.firstCatItem{padding-left:0}
#siteSubNavContainer a:link,#siteSubNavContainer a:visited{color:#58595b}
#siteSubNavContainer a:hover,#siteSubNavContainer a:active,#siteSubNavContainer a.activeSubNavItem{color:#428bca!important}
#csMenuContainer,#pgMenuConatiner{position:absolute;z-index:40;background-color:#fff;left:-238px;top:20px;opacity:1;display:none}
#photoGiftsNavLink #pgMenuConatiner{left:-627%}
.siteInspirationItem{position:relative;cursor:pointer}
#siteSubNavContainer a{text-decoration:none!important}
#siteSaleNav .siteInspirationItem.active a.catItemLink{*width:87px;*display:inline-block;*height:22px}
#siteSubNavContainer ul.inspirationMenu{margin-left:0!important;width:auto!important}
#siteSubNavContainer ul.siteSubNav,#siteSubNavContainer ul.siteInspirationMenu{float:left;height:25px}
.siteInspirationContainer{width:140px;position:absolute;padding:5px;top:22px;left:-1px;z-index:40;background-color:#fff;box-shadow:4px 4px 4px rgba(51,51,51,0.5);display:none}
.siteInspirationItem:hover #siteSaleContainer,#siteSaleItem.active #siteSaleContainer{display:block;border:1px solid #ccccae}
#siteSaleItem .siteInspirationContainer a{display:block;padding:3px}
#siteSaleItem.active .siteInspirationContainer li{*margin:0;*border:1px solid #fff}
#siteSaleItem.active .siteInspirationContainer a:hover,#siteSaleItem:hover .siteInspirationContainer a:hover{background-color:#f4f4e4}
#siteSubNavContainer li{line-height:1.22em!important}
.clear{clear:both}
#siteSubNavWrapper,.subNavWrapper{margin:auto 10px}
#siteSubNavWrapper{margin-left:0}
#siteSubNavContainer{margin-top:2px}
#siteSaleContainer a.on{color:#428bca!important;font-weight:bold}
#contactUsWrapper{margin-left:15px}
#contactUsWrapper .catItem{position:relative;width:100px}
#contactUsWrapper .catItem:hover .inspirationContainer,#contactUsWrapper li.active div.inspirationContainer{display:block}
#contactUsWrapper .catItem:hover .catItemLink,#contactUsWrapper li.active a.catItemLink{display:block;position:relative;height:20px}
#contactUsWrapper .inspirationContainer{background-color:#fff;display:none;position:absolute;opacity:1;top:90%;z-index:40;width:153px;padding:5px;border:1px solid #ccccae;box-shadow:4px 4px 4px rgba(51,51,51,0.5)}
#contactUsWrapper .inspirationContainer li{*line-height:.5em!important}
#contactUsWrapper .inspirationContainer li a{padding:3px;display:block}
#contactUsWrapper .inspirationContainer li a:hover{background-color:#f4f4e4}
#offer-banner{overflow:auto;margin-bottom:10px}
#offer-banner div{overflow:hidden}
.fleft{float:left}
.fright{float:right}
.orangecontent,.orangeContent{color:#428bca;font-size:12px}
#offer-banner a{color:#939598;font-size:12px;text-decoration:none}
#srch_err #closeBtn{width:13px;height:13px;background:url(/i/search/search_btn_sprite_close-v1227736064000366.png) no-repeat -7px -7px;display:inline-block;margin-top:4px;padding:0;vertical-align:top;cursor:pointer}
#srch_err #closeBtn:hover{background-position:-7px -33px}
div.srch_err{display:none;width:125px;background:white;position:absolute;top:30px;left:40%;_left:35%;z-index:1000;text-align:left;box-shadow:1px 1px 2px 0 #99c}
.srch_err span{display:inline-block;padding:2px;width:auto;font-size:11px;font-weight:normal;color:#333;line-height:normal}
#srch_err_txt{width:95px;_width:100px;font-family:'Avenir LT W01 55 Roman',verdana,arial,sans-serif}
.srch_err div{height:35px;border:1px solid #99c;position:relative;margin-top:-1px}
.srch_err IMG{position:absolute;top:-11px;left:20px}
.catItem:hover,#siteSubNavContainer .active{padding:0;margin:0}
.catItem:hover a.catItemLink,.dj_iequirks #siteSubNavContainer .active a.catItemLink{z-index:10;position:relative;padding:4px 8px 0 8px;width:100%;border-width:0 1px;border-style:solid;border-color:#c6c7c9;height:25px;display:inline-block;background-color:#fff;top:-2px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
#catItemLink_0:hover a.catItemLink,.dj_iequirks #catItemLink_0.active a.catItemLink{padding:4px 3px 0 4px;background-color:#fff;height:26px;left:-5px;top:-3px;border-top-width:1px;border-top-color:#7e8083}
.dropdownContent{margin:0;padding:20px 0;border-style:solid;border-color:#c6c7c9;border-width:1px;box-shadow:4px 4px 4px rgba(51,51,51,0.5);background-color:#fff;position:absolute;z-index:9;top:22px;display:none}
.fourColumnDropDown{width:784px}
.fiveColumnDropDown{width:980px}
.catItem:hover .dropdownContent,.dj_iequirks #siteSubNavContainer .active .dropdownContent{display:block}
#siteSubNav .dropdownContent ul.column,#siteSaleItem .dropdownContent ul.column,#inspirationMenu .dropdownContent ul.column{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:196px;float:left;border-right:1px solid #c6c7c9;height:172px;padding:0 20px 0}
#siteSubNavContainer .dropdownContent ul.lastColumn{border-right:0}
#siteSubNavContainer .dropdownContent a:link,#siteSubNavContainer .dropdownContent .column a:visited{font-size:11px;color:#181512}
#siteSubNavContainer .dropdownContent .column .columnHeader a:link,#siteSubNavContainer .dropdownContent .column .columnHeader a:visited{font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif}
.dropdownContent .column .columnHeader.notNavigable{padding:3px;padding-left:0;color:#181512;font-family:"Avenir LT W01 95 Black",Verdana,Arial,sans-serif}
.dropdownContent .column .columnHeader.promoHeader{color:#428bca}
.dropdownContent .column .columnHeader.promoHeader .promoCode{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;color:#181512}
.catItem{position:relative}
#catItemLink_0 .dropdownContent{left:-165px}
#catItemLink_1 .dropdownContent{left:-241px}
#catItemLink_2 .dropdownContent,#catItemLink_3 .dropdownContent{left:-270px}
#catItemLink_4 .dropdownContent{left:-470px}
#catItemLink_5 .dropdownContent{left:-545px}
.siteInspirationItem .dropdownContent{left:-550px}
.dropdownContent .column li{list-style-type:none;margin-bottom:8px;text-align:left}
.dropdownContent .column li.thumbItem{margin-bottom:0;width:155px;height:120px}
.dropdownContent .column li.allSection{position:absolute;bottom:20px;margin-bottom:0}
.column li a:hover,.column li a:focus{color:#428bca;text-decoration:none;cursor:pointer}
.dj_iequirks .siteSubNavContainer{z-index:99;position:relative}
.dj_iequirks #siteSubNavContainer .active a.catItemLink{width:auto}
.dj_iequirks #siteSubNav .active ul.column,.dj_iequirks #siteSaleItem.active ul.column,.dj_iequirks #inspirationMenu .active ul.column{width:195px!important;padding-right:19px!important}